@tailwind base;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

.main {
    width: 1920px;
    height: 1080px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    @apply absolute flex flex-wrap;
}

.home-page {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../assets/images/cover.png");
    @apply flex flex-wrap  justify-between flex-col-reverse items-center;
}

.static-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cloud {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    @apply m-2;
}

.clouds-group {
    @apply flex flex-row;
}

.button {
    z-index: 0;
    transition: transform .3s;
    @apply relative w-fit h-fit m-1 py-1 px-5 overflow-visible;
    .shape {
        width: 100%;
        height: 100%;
        z-index: -1;
        @apply absolute top-0 left-0;
    }
    &:hover{
        transform: scale(1.1);
    }
}

.pages-menu {
    height: 30%;
    z-index: 9999;
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    transform: translateY(-100%);
    transition: transform .3s;
    @apply fixed top-0 left-0 w-full;
    &.visible{
        transform: translateY(0%);
    }
    .container {
        @apply relative flex flex-wrap items-center w-full h-full;

        .logo{
            width: 30%;
        }

        .menu-button {
            bottom: -125px;
            left: 10px;
            @apply absolute m-6;
        }
        .pages-container{
            max-width: 61%;
            height: 100%;
            @apply flex flex-grow flex-row justify-center overflow-hidden;        
            
            .page{
                width: 30%;
                height: 90%;
                border: dashed 5px rgb(252, 185, 0);
                transition: box-shadow .3s, transform .3s;
                @apply m-2 cursor-pointer;
                &:hover{
                    box-shadow: 0 0 20px 0px rgba(0,0,0,.25);
                    transform: scale(1.01);
                }
            }
        }
    }
}
